// Global styles

// colors and backrounds
$mainBg: #fafafa;
$primary: #3f51b5;
$red: #f44336;

// dimensions
$containerMaxWidth: 90%;
$headerHeight: 64px;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $mainBg;
}


.primary-theme {
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: $headerHeight;
    top: 0;
    left: 0;
    background: $primary;
    z-index: -1;
  }


  &--container {
    width: $containerMaxWidth;

    @media(max-width: 991px) {
      width: 100%;
    }
  }
}


.form-group {
  position: relative;
  margin-bottom: 25px;

  &.mat-form-field {
    display: block;
  }

  .form-error-msg {
    color: $red;
    position: absolute;
    top: 120%;
    left: 5px;
    width: max-content;
  }
}
